In [3]:
a = 111
b = 111
print(a*b)
print(a*a)

12321
12321

In [ ]:
# 던축키
# 컨트롤 enter -> 실행
# enter -> 수정 가능
# esc 상태(명령)에서 b/a, 아래/위 추가 
# x : 삭제, z : 되돌리기
# 변수는 앞글자입력하고 tab 누르면 채워짐
# 지우고 싶은 열에서 control + x
# 주석해제:control+/

In [5]:
a

111

In [5]:
type(b)

int

In [8]:
thethingsname = '불투명필통'
print(thethingsname)

불투명필통

In [18]:
i = 100
j = 0b110
print(j)
j8 = 0o76
j16 = 0x9abcdef
type(j16)

6

int

In [27]:
# 빅데이터 분석 시 매번 사용함 

today = 20220801
year = today // 10000 
month =  today % 10000 // 100
day = today % 10000 % 100

year,month, day

(2022, 8, 1)

In [29]:
"1" + "2" #  12
1 + 2  #3
# "1" + 2 # 문자열과 숫자 더하면 error

3

In [35]:
bool (' ')

True

In [38]:
S1 = "홍"
S1

'홍'

In [51]:
poem = "구름에 달가듯이 가는 나그네 \
길은 외줄기 남도삼백리"
poem

'구름에 달가듯이 가는 나그네 길은 외줄기 남도삼백리'

In [49]:
poem ='''구름에 달가듯이 가는
나그네 같은 외줄기 남도삼백리'''
poem

'구름에 달가듯이 가는\n나그네 같은 외줄기 남도삼백리'

In [52]:
# 연습문제1

str = '210101-1234567'
# str[7:8]
str[7]

'1'

In [57]:
# 연습문제2

str2 = '20210101Sunny'
date = str2[:8]
weather = str2[8:]
date,weather

('20210101', 'Sunny')

In [3]:
name ='마우스'
age = 28

print(name + '는 '+ str(age))
print("%s는 %d살" % (name,age))
print("%s는 %s살" % (name,age))

마우스는 28
마우스는 28살

In [11]:
import time

now = time.localtime()
print("현재 시간은 %d년 %d월 %d일 %d시 %d분 %d초 입니다" % (now.tm_year, now.tm_mon,now.tm_mday,\
                                              now.tm_hour,now.tm_min,now.tm_sec))

현재 시간은 2022년 8월 1일 15시 29분 4초 입니다

In [13]:
print("{}는 {}살".format(name,age))

print("{0}는 {1}살 . {0}는 젋어요".format(name,age))

마우스는 28살
마우스는 28살 . 마우스는 젋어요

In [19]:
f'my name is {name}, {age} years old ,{2022-age+1}'

'my name is 마우스, 28 years old ,1995'

In [20]:
f"{name}의 길이는 {len(name)}"

'마우스의 길이는 3'

In [21]:
"nana0813".isalnum()

True

In [25]:
"nana0813".index("na")

1

In [26]:
"nana0813".index("na",2)

2

In [27]:
"    abc def   ".strip()

'abc def'

In [38]:
print(name, age, sep=' 와 ', end="--")
print(name, age, sep=' 와 ')

마우스 와 28--마우스 와 28

In [2]:
name1 = input("이름을 입력하세요 :")

이름을 입력하세요 :patagonia

In [3]:
print(name1)

patagonia

In [ ]:
a = 90
b = 85

#리스트
class1 = [ 70, 85, 90 ]

In [13]:
import random

lotto = [
        random.randint(1,45),
        random.randint(1,45),
        random.randint(1,45),
        random.randint(1,45),
        random.randint(1,45),
        random.randint(1,45)
]
lotto

[25, 17, 45, 13, 7, 11]

In [21]:
ar1 = [100,85,90]
ar2 = [100,100,100]
c = 3
ar3 = ar1 + ar2
ar3
ar1 * c

[100, 85, 90, 100, 85, 90, 100, 85, 90]